* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: center;
  background-color: rebeccapurple;
}

.search-form {
  margin: 20px 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 30px;

  margin-top: 120px;
}

.a-item {
  width: calc((100% - 90px) / 4);
}

.info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.info-item {
  text-align: center;
}
